.footer
    padding-bottom: 40px
    &__top
        display: flex
        align-items: flex-end
    &__logo
        margin-right: 60px
        flex: 0 0 146px
    &__bottom
        display: grid
        grid-template-columns: repeat(2, 300px)
        gap: 110px
        justify-content: flex-end
    &__col
        display: flex
        flex-direction: column
        align-items: flex-start
    &__address
        margin-bottom: 10px
    &__time
        margin-bottom: 60px
    &__tel
        margin-bottom: 10px
    &__email
        margin-bottom: 10px